{% extends 'base.html' %}
{% block content %}
<div class="view-wrapper is-full">
    {% include 'includes/sidebar.html' %}
    <div class="settings-wrapper">
        <div id="security-settings" class="settings-section is-active">
            <div class="settings-panel">
                <div class="title-wrap">
                    <a class="mobile-sidebar-trigger">
                        <i data-feather="menu"></i>
                    </a>
                    <h2>Изменить пароль</h2>
                    
                </div>
                <div class="settings-form-wrapper">
                    <div class="settings-form">
                       <form method="POST">
                            {% csrf_token %}
                        <div class="columns is-multiline">
                            <div class="column is-12">
                                {{form.old_password.errors}}
                            </div>
                            <div class="column is-12">
                                <!--Field-->
                                <div class="field field-group">
                                    <label>Прежний пароль</label>
                                    <div class="control has-icon">
                                        <input name="old_password" type="password" class="input is-fade" value="">
                                        <div class="form-icon">
                                            <i data-feather="lock"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-6">
                                <!--Field-->
                                <div class="field field-group">
                                    <label>Новый пароль</label>
                                    <div class="control has-icon">
                                        <input name="new_password1" type="password" class="input is-fade" value="">
                                        <div class="form-icon">
                                            <i data-feather="lock"></i>
                                        </div>
                                    </div>
                                </div>
                                {{form.new_password1.errors}}
                            </div>
                            <div class="column is-6">
                                <!--Field-->
                                <div class="field field-group">
                                    <label>Повторить пароль</label>
                                    <div class="control has-icon">
                                        <input name="new_password2" type="password" class="input is-fade" value="">
                                        <div class="form-icon">
                                            <i data-feather="lock"></i>
                                        </div>
                                    </div>
                                </div>
                                {{form.new_password2.errors}}
                            </div>
                            <div class="column is-12">
                                <div class="buttons">
                                    <button class="button is-solid accent-button form-button">Сохранить изменения</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                    <div class="illustration">
                  <p>тут вы можете изменить свой пороль, если у вас какие-то вопросы Обратитесь к нам <a href="https://sklad.charmestone.ru/">charmastone</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% load static %}
<script src="{% static 'js/settings.js' %}"></script>
{% endblock scripts %}

