{% extends 'base.html' %}
{% block content %}
<div class="view-wrapper is-full">
    {% include 'includes/sidebar.html' %}
    <div class="settings-wrapper">
        <!-- /partials/settings/sections/general-settings.html -->
        <div id="general-settings" class="settings-section is-active">
            <div class="settings-panel">
                <div class="title-wrap">
                    <a class="mobile-sidebar-trigger">
                        <i data-feather="menu"></i>
                    </a>
                </div>
                            <div class="page-placeholder">
                <div class="placeholder-content">
                    <h3>вы успешно поменяли ваш пароль.</h3>
                    <p class="is-large">Пароль для логина {{user.username}} был успешно изменен.
                    </p>
                    <div class="buttons is-centered">
                        <a href="{% url 'home' %}" class="button is-solid accent-button raised">вернуться на главную страницу</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% load static %}
<script src="{% static 'js/settings.js' %}"></script>
{% endblock scripts %}